<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarena.mnmp.app.AppDao">

    <resultMap type="com.tarena.mnmp.app.AppDO" id="AppMap">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="leader" property="code"/>
        <result column="team_members" property="teamMembers"/>
        <result column="remarks" property="remarks"/>
        <result column="enabled" property="enabled"/>
        <result column="audit_status" property="auditStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="AppAllFields">
        id,
        code,
        name,
        leader,
        team_members,
        remarks,
        audit_status,
        enabled,
        create_time,
        update_time
    </sql>
    <insert id="save">
        insert into notice_app (code,
                                name,
                                leader,
                                team_members,
                                remarks,
                                audit_status,
                                enabled,
                                create_time,
                                update_time)
        values (#{code}, #{name}, #{leader}, #{teamMembers}, #{remarks}, #{auditStatus},#{enabled}, now(), now())
    </insert>
    <select id="queryAllApps" resultMap="AppMap">
        select
        <include refid="AppAllFields"/>
        from notice_app
    </select>
    <select id="findById" resultMap="AppMap">
        select
        <include refid="AppAllFields"/>
        from notice_app
        where id=#{id}
    </select>
    <update id="disable" >
        update notice_app
        set enabled=0
        where id=#{id}
    </update>
    <update id="enable">
        update notice_app
        set enabled=1
        where id=#{id}
    </update>
    <update id="modify" >
        update notice_app
        <set>
            <if test="code!=null">
                code=#{code},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="leader!=null">
                leader=#{leader},
            </if>
            <if test="teamMembers!=null">
                team_members=#{teamMembers},
            </if>
            <if test="remarks!=null">
                remarks=#{remarks},
            </if>
            <if test="true">
                update_time=now()
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>

