<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tarena.mnmp.domain.task.TaskDao">
    <resultMap type="com.tarena.mnmp.domain.TaskDO" id="NoticeTaskMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
        <result property="taskType" column="task_type" jdbcType="INTEGER"/>
        <result property="noticeType" column="notice_type" jdbcType="INTEGER"/>
        <result property="templateId" column="template_id" jdbcType="INTEGER"/>
        <result property="signId" column="sign_id" jdbcType="INTEGER"/>
        <result property="appId" column="app_id" jdbcType="INTEGER"/>
        <result property="targetType" column="target_type" jdbcType="INTEGER"/>
        <result property="targetFileName" column="target_file_name" jdbcType="VARCHAR"/>
        <result property="targetFileUrl" column="target_file_url" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="INTEGER"/>
        <result property="deptId" column="dept_id" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="cycleLevel" column="cycle_level" jdbcType="INTEGER"/>
        <result property="cycleNum" column="cycle_num" jdbcType="INTEGER"/>
        <result property="firstTriggerTime" column="first_trigger_time" jdbcType="TIMESTAMP"/>
        <result property="triggerEndTime" column="trigger_end_time" jdbcType="TIMESTAMP"/>
        <result property="nextTriggerTime" column="next_trigger_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="taskAudit" column="task_audit" jdbcType="INTEGER"/>
        <result property="taskAuditResult" column="task_audit_result" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, task_status, task_type, notice_type, template_id, sign_id, app_id, cycle_level,
        cycle_num, first_trigger_time, trigger_end_time, next_trigger_time, target_type,
        target_file_name, target_file_url, creator, creator_email, creator_name, dept_id,
        remark, error, create_time, update_time, task_audit, task_audit_result
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="NoticeTaskMap">
        select
        <include refid="Base_Column_List" />
        from notice_task
        where id = #{id}
    </select>


    <!--通过主键修改数据-->
    <update id="update">
        update notice_task
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="taskStatus != null">
                task_status = #{taskStatus},
            </if>
            <if test="taskType != null">
                task_type = #{taskType},
            </if>
            <if test="noticeType != null">
                notice_type = #{noticeType},
            </if>
            <if test="templateId != null">
                template_id = #{templateId},
            </if>
            <if test="signId != null">
                sign_id = #{signId},
            </if>
            <if test="appId != null">
                app_id = #{appId},
            </if>
            <if test="targetType != null">
                target_type = #{targetType},
            </if>
            <if test="targetFileName != null and targetFileName != ''">
                target_file_name = #{targetFileName},
            </if>
            <if test="targetFileUrl != null and targetFileUrl != ''">
                target_file_url = #{targetFileUrl},
            </if>
            <if test="creator != null">
                creator = #{creator},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="cycleLevel != null">
                cycle_level = #{cycleLevel},
            </if>
            <if test="cycleNum != null">
                cycle_num = #{cycleNum},
            </if>
            <if test="firstTriggerTime != null">
                first_trigger_time = #{firstTriggerTime},
            </if>
            <if test="triggerEndTime != null">
                trigger_end_time = #{triggerEndTime},
            </if>
            <if test="nextTriggerTime != null">
                next_trigger_time = #{nextTriggerTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="taskAudit != null">
                task_audit = #{taskAudit,jdbcType=INTEGER},
            </if>
            <if test="taskAuditResult != null and taskAuditResult != ''">
                task_audit_result = #{taskAuditResult,jdbcType=VARCHAR},
            </if>
            update_time = now()
        </set>
        where id = #{id}
    </update>
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into notice_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="taskStatus != null">
                task_status,
            </if>
            <if test="taskType != null">
                task_type,
            </if>
            <if test="noticeType != null">
                notice_type,
            </if>
            <if test="templateId != null">
                template_id,
            </if>
            <if test="signId != null">
                sign_id,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="cycleLevel != null">
                cycle_level,
            </if>
            <if test="cycleNum != null">
                cycle_num,
            </if>
            <if test="firstTriggerTime != null">
                first_trigger_time,
            </if>
            <if test="triggerEndTime != null">
                trigger_end_time,
            </if>
            <if test="nextTriggerTime != null">
                next_trigger_time,
            </if>
            <if test="targetType != null">
                target_type,
            </if>
            <if test="targetFileName != null">
                target_file_name,
            </if>
            <if test="targetFileUrl != null">
                target_file_url,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="creatorEmail != null">
                creator_email,
            </if>
            <if test="creatorName != null">
                creator_name,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="error != null">
                error,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="taskAudit != null">
                task_audit,
            </if>
            <if test="taskAuditResult != null">
                task_audit_result,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="taskStatus != null">
                #{taskStatus,jdbcType=TINYINT},
            </if>
            <if test="taskType != null">
                #{taskType,jdbcType=TINYINT},
            </if>
            <if test="noticeType != null">
                #{noticeType,jdbcType=TINYINT},
            </if>
            <if test="templateId != null">
                #{templateId,jdbcType=INTEGER},
            </if>
            <if test="signId != null">
                #{signId,jdbcType=INTEGER},
            </if>
            <if test="appId != null">
                #{appId,jdbcType=BIGINT},
            </if>
            <if test="cycleLevel != null">
                #{cycleLevel,jdbcType=TINYINT},
            </if>
            <if test="cycleNum != null">
                #{cycleNum,jdbcType=INTEGER},
            </if>
            <if test="firstTriggerTime != null">
                #{firstTriggerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="triggerEndTime != null">
                #{triggerEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="nextTriggerTime != null">
                #{nextTriggerTime,jdbcType=TIMESTAMP},
            </if>
            <if test="targetType != null">
                #{targetType,jdbcType=TINYINT},
            </if>
            <if test="targetFileName != null">
                #{targetFileName,jdbcType=VARCHAR},
            </if>
            <if test="targetFileUrl != null">
                #{targetFileUrl,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="creatorEmail != null">
                #{creatorEmail,jdbcType=VARCHAR},
            </if>
            <if test="creatorName != null">
                #{creatorName,jdbcType=VARCHAR},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="error != null">
                #{error,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="taskAudit != null">
                #{taskAudit,jdbcType=BOOLEAN},
            </if>
            <if test="taskAuditResult != null">
                #{taskAuditResult,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="queryList" resultMap="NoticeTaskMap">
        select <include refid="Base_Column_List" />
        from notice_task
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
            <if test="appId != null">
                and app_id = #{appId,jdbcType=INTEGER}
            </if>
            <if test="taskStatus != null">
                and task_status = #{taskStatus,jdbcType=INTEGER}
            </if>
            <if  test="taskAudit != null">
                and task_audit = #{taskStatus,jdbcType=INTEGER}
            </if>
        </where>
        ${limitClause}
    </select>

    <select id="queryCount" resultType="java.lang.Long">
        select count(1)
        from notice_task
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
            <if test="appId != null">
                and app_id = #{appId,jdbcType=INTEGER}
            </if>
            <if test="taskStatus != null">
                and task_status = #{taskStatus,jdbcType=INTEGER}
            </if>
            <if  test="taskAudit != null">
                and task_audit = #{taskStatus,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>

