dispatcher:
  mock: true
  assembler_sms: true
  notice_sms_ali: true
  notice_sms_hw: true
  sms_ali_pigeon_provider_code: ALI_SMS
  sms_hw_pigeon_provider_code: HW_SMS
  enableReceipt: false
json:
  provider: fastJson
monitor:
  impl: default
mybatis:
  configuration:
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mapper/*.xml
rocket:
  message_charset: UTF-8
  name_server_address: 10.0.0.43:9876
  publish_debug: true
  publish_group: publish_group
  retry_times_when_send_failed: 5
  topic: mnmp_test
server:
  port: 9081
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: tarena2017Up;
    url: jdbc:mysql://10.0.0.43:3306/tarena_pigeon?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&allowMultiQueries=true&allowPublicKeyRetrieval=true
    username: root
